body {
  font-size: 20px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Liu Jian Mao Cao', cursive;
  font-weight: bold;
}

#header-nav{
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img{
  background:url('../images/restaurant-logo_large.png')no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}

.navbar-brand h1{
  font-family: 'Zhi Mang Xing', cursive;
  color:#557c3e;
  font-size:2.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top:0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover,.navbar-brand a:focus{
  text-decoration: none;
}

.navbar-brand p{
  text-transform: uppercase;
  color:#000;
  font-size:.75em;
  margin-top:15px;
}

.navbar-brand span{
  font-size:1.2em;
}

.navbar-brand p span{
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
  border-radius: 10px;
  transition-duration: .7s;
}
#nav-list a span {
  font-size: 1.5em;
}

#phone {
  margin-top: 5px;
}

#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 15px;
  margin-left: 5px;
  border:3px solid #61122f;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  font-size:1.2em;
  font-weight: bold;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

@media (min-width:1200px){

}
/*********************Medium Screen Devices**********************************/
@media (min-width:992px) and (max-width:1199px){
  #logo-img{
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    height: 100px;
    width: 100px;
    margin: 5px 5px 5px 0;
  }
  .navbar-brand a h1{
    font-size:2em;
  }
}
/*********************Extra small Screen Devices*****************************/
@media (max-width:767px){
  .navbar-brand{
    padding-top: 5px;
    height: 80px;
  }
  .navbar-brand h1{
    padding-top: 10px;
    font-size: 6vw;
  }
  .navbar-brand p{
    font-size: .8em;
    margin-top: 12px;
  }
  .navbar-brand p img{
    height: 20px;
  }
  #collapsable-nav a {
    font-size:1.5em;
  }
  #collapsable-nav a span{
    font-size: .9em;
    margin-right: 7px;
  }
}
